<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="padding" class="has-header">
  <h2>Settings</h2>
  <p>Number of teams (<b>{{teams}}</b>):</p>
  <div class="item range">
    <!--<i class="icon ion-minus"></i>-->
    <input type="range" name="teams" min="2" max="4" ng-model="teams" ng-change="saveTeamsCount(teams)">
    <!--<i class="icon ion-plus"></i>-->
  </div>
  <ion-item class="item item-toggle" type="item-text-wrap">
    <p>Play with leg in one team</p>
    <label class="toggle toggle-balanced">
      <input type="checkbox" ng-model="settings.balanceWithParent" ng-checked="settings.balanceWithParent" ng-change="balanceWithParentChange()">
      <div class="track">
        <div class="handle"></div>
      </div>
    </label>
  </ion-item>
</ion-content>
