<ion-view view-title="Players">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-show="selectedPlayers > 0" class="button button-positive" ng-click="makeTeams()">
      Make teams (<b>{{selectedPlayers}}</b>)
    </button>
  </ion-nav-buttons>
  <ion-content class="padding" class="has-header">
    <ion-list>
      <ion-item class="item item-toggle" ng-repeat="player in players" type="item-text-wrap">
        <h2>{{player.name}}</h2>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="player.checked" ng-change="updatePlayersCount()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
