<ion-view view-title="Players">
  <ion-content>
    <div class="bar bar-header">
      <h1 class="title"></h1>
      <button class="button button-calm" ng-click="shuffle()">Shuffle</button>
    </div>
    <ion-list>
      <ion-item class="item item-toggle" ng-repeat="player in players" type="item-text-wrap">

        <h2>{{player.name}}</h2>
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="player.checked">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
