<ion-view view-title="Teams" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" class="has-header has-footer">
    <ion-item class="item" ng-repeat="team in teams" type="item-text-wrap">
      <div class="item item-divider">
        <h2>Team</h2>
        <p>Weight = {{team.teamWeight}}</p>
      </div>
      <ion-list>
        <ion-item class="item" ng-repeat="player in team.players" type="item-text-wrap">
          <h4>{{player.player.name}}</h4>
          <p>{{player.position.name}}</p>
          <p>His weight is {{player.weight}}</p>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-content>
  <ion-footer-bar class="bar bar-footer bar-stable">
    <button class="button button-positive icon ion-refresh" ng-click="alert('use play with balancer flag if disabled')">
      Rebalance
    </button>
    <button class="button button-positive icon ion-checkmark-round" ng-click="alert('Show modal, select date and time, save')">
      Approve and Save
    </button>
  </ion-footer-bar>
</ion-view>
