<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Players</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let p of players">
      <h2>{{p.name}}</h2>
      <label class="toggle toggle-balanced">
        <input type="checkbox" ng-model="player.checked" ng-change="updatePlayersCount()">
        <div class="track">
          <div class="handle"></div>
        </div>
      </label>
    </ion-item>
  </ion-list>
</ion-content>
